<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka&family=Inconsolata&family=Lato:ital@1&family=Rubik+Mono+One&display=swap" rel="stylesheet">
    
    <!-- Css -->
    <link rel="stylesheet" href="assets/css/style.css">
    
    <!-- Vuejs -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />    

    <!-- Luxon CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.4.3/luxon.min.js" integrity="sha512-gUQcFuEaDuAEqvxIQ9GDdMcCeFmG5MPnoc6ruJn+nyCNHrHM2oB97GOVLIOiixzTxPYmIfEQbOoQmx55UscLyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Boolzapp</title>
</head>
<body>

    <div id="app">

        <!-- Container -->

        <div class="container debug">

            <div class="whatsapp debug">

                <!-- Sidebar -->
                <div class="sliderbar-contacts debug">
                    <div class="sidebar-header debug">

                        <!-- Profile -->
                        <div class="sidebar-profile debug">
                            <div class="sidebar-profile-pic debug">
                                <img src="assets/img/avatar_io.jpg" alt="">
                            </div>
                            <span id="profile-name">Sofia</span>
                        </div>

                        <!-- Icons -->
                        <div class="slidebar-icons debug">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>

                    <!-- Notifications -->
                    <div class="notifications debug">
                        <!-- Bell -->
                        <div class="bell debug">
                            <i class="fa-solid far fa-bell-slash"></i>
                        </div>

                        <!-- Notifications List -->
                        <ul class="notifications-list debug">
                            <li>
                                <h4>Ricevi notifiche di nuovi messaggi</h4>
                            </li>
                            <li>
                                <span>Attiva notifiche desktop</span>
                            </li>
                        </ul>
                    </div>
                    <!-- /Sidebar -->



                    <!-- Search -->
                    <div class="debug search">
                        <div class="search-icon">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <input class="debug search2" type="text" placeholder="Cerca o inizia una nuova chat">
                    </div>
                    <!-- /Search -->

                    <!-- Contacts -->
                    <div class="contacts debug">
                        <!-- Questo ciclo v-for itera attraverso l'array "contacts" assegnando a "contact" ogni elemento e a "index" l'indice corrispondente. -->
                        <div v-for="(contact, index) in contacts">

                            <!-- Contact -->
                            <div 
                            :class="['contact', { 'debug': activeContact === index }]"
                            @click="changeContact(index)"
                            v-if="contact.visible === true"
                            >
                                <!-- Circle Contact -->
                                <div class="circle-contact debug">
                                    <img :src=" '/assets/img/avatar' + contact.avatar  + '.jpg' ">
                                </div>

                                <!-- Name & Time -->
                                <div class="name-msg debug">
                                    <h4 class="profile-name">{{ contact.name }}</h4>
                                </div>
                                <div class="contact-time debug">
                                    <span>12:00</span>
                                </div>

                            </div>
                            
                            
                        </div>


                    </div>
                </div>

                <!-- Right section -->
                <div class="right-section debug">
                    <!-- Circle Contact and info and icons -->
                    <div class="header-section debug">
                        <div class="profile-adresse">
                            <div class="circle-contact debug">
                                <img :src="`/assets/img/avatar${contacts[activeContact].avatar}.jpg`">
                            </div>
                            <div class="info debug">
                                <span>{{contacts[activeContact].name}}</span>
                                <span id="last-online" class="debug">Ultimo accesso alle 12:00</span>
                            </div>
                        </div>
                        <!-- Icons -->
                        <div class="icons-section debug">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>

                    <!-- Chat -->
                    <div class="chat-section debug">
                        <div class="msg debug">
                            <div class="msg-box debug">
                                <div class="msg-text debug">

                                    <!-- Message -->
                                    <div class="dropdown debug">
                                        <div class="dropdown-icon">
                                            <i class="fa-solid fa-chevron-down"></i>
                                        </div>
                                        <div class="dropdown-menu">
                                            <ul>
                                                <li>Message info</li>
                                                <li>Delete message</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <span>Messaggio</span>
                                </div>
                                <div class="msg-info debug">
                                    <span>Messaggio e data</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Message -->
                    <div class="message">
                        <div class="emojis">
                            <i class="fa-regular fa-face-smile"></i>
                        </div>
                        <input id="message-chat" type="text" placeholder="Scrivi un messaggio">
                        <div class="vocal-message">
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                    </div>


                </div>
                
            </div>

        </div>

    </div>
    
    <!-- JS -->
    <script src="assets/js/script.js"></script>
</body>
</html>