/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stile di debug */
.debug {
    border: 1px solid red;
}

/* Stili del corpo della pagina */
body {
    font-family: 'Fredoka', sans-serif; /* Preferito */
    font-family: 'Inconsolata', monospace;
    font-family: 'Lato', sans-serif;
    font-family: 'Rubik Mono One', sans-serif;
}

/* Stile delle immagini */
img {
    max-width: 100%;
}

/* Rimuovi i punti elenco predefiniti dai <li> */
li {
    list-style: none;
}

/* Stili per il contenitore principale */
.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        0deg,
        rgba(17, 27, 33, 1) 80%,
        rgba(0, 168, 132, 1) 80%
    );
}

/* Stili per il conteitore WhatsApp */
.whatsapp {
    width: 70%;
    min-width: 900px;
    height: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

/* Stili per la barra laterale dei contatti */
.sliderbar-contacts {
    width: 500px;
    height: 100%;
}

/* Stili per l'intestazione della barra laterale dei contatti */
.sidebar-header {
    width: 100%;
    height: 70px;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid lightgrey;
}

/* Stili per il profilo nella barra laterale dei contatti */
.sidebar-profile {
    display: flex;
    align-items: center;
}

.sidebar-profile-pic {
    width: 50px;
    height: 50px;
    margin-left: 1rem;
}

/* Stili per l'immagine del profilo nella barra laterale dei contatti */
.sidebar-profile-pic img {
    border-radius: 50%;
}

#profile-name {
    margin-left: 0.5rem;
}

/* Stili per le icone nella barra laterale dei contatti */
.slidebar-icons i {
    color: lightgray;
    font-size: 1.4rem;
    margin-right: 0.8rem;
    cursor: pointer;
}

/* Stili per le notifiche */
.notifications {
    width: 100%;
    height: 80px;
    background-color: #8edafc;
    display: flex;
    align-items: center;
}

.bell {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    color: #8edafc;
    background-color: white;
}

.notifications > * {
    margin-left: 0.8rem;
}

.notifications-list li span {
    color: darkgray;
    text-decoration: underline;
    font-size: 0.8rem;
}

/* Stili per la lista dei contatti */
.contacts {
    background-color: white;
    width: 100%;
    height: calc(100% - 70px - 50px - 80px);
    overflow-y: scroll;
}

/* Stili per un singolo contatto nella lista dei contatti */
.contact {
    padding: 0.8rem;
    border-bottom: 1px solid lightgrey;
    display: flex;
    cursor: pointer;
}

.contact:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.circle-contact {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: grey;
}

.circle-contact img {
    border-radius: 50%;
}

.name-msg {
    padding: 0.5rem;
    flex-grow: 1;
}

.contact-time {
    font-size: 0.8rem;
    color: grey;
}

/* Stili per la sezione a destra della finestra di chat */
.right-section {
    width: calc(100% - (500px));
}

/* Stili per l'intestazione nella sezione a destra della finestra di chat */
.header-section {
    width: 100%;
    height: 70px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

/* Stili per l'indirizzo del profilo nella sezione a destra della finestra di chat */
.profile-adresse {
    display: flex;
    align-items: center;
}

.info {
    margin-left: 10px;
}

#last-online {
    font-size: 0.8rem;
    display: block;
    color: darkgrey;
}

/* Stili per le icone nella sezione a destra della finestra di chat */
.icons-section i {
    color: lightgray;
    font-size: 1.4rem;
    margin-right: 1rem;
    cursor: pointer;
}

/* Stili per la barra di ricerca */
.search {
    width: 100%;
    height: 50px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon {
    width: 20%;
    border-right: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 0px 0px 5px;
    color: darkgray;
}

.search-icon,
.search2 {
    height: 30px;
    border: 1px solid lightgrey;
    background-color: white;
}

.search2 {
    width: 70%;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    border-radius: 0px 5px 5px 0px;
}

/* Stili per la sezione delle chat */
.chat-section {
    width: 100%;
    height: calc(100% - 70px - 70px);
    overflow-y: scroll;
    background-image: url(../img/mine.jpg);
    padding: 4rem;
}

/* Stili per un singolo messaggio */
.single-msg {
    margin-bottom: 0.8rem;
}

.msg {
    max-width: 300px;
    min-height: 50px;
    border-radius: 10px;
    padding: 0.5rem;
    position: relative;
}

.msg-text {
    max-width: 99%;
}

.sent {
    display: flex;
    justify-content: flex-end;
}

.sent .msg {
    background-color: #d5f9ba;
}
  
.received .msg {
    background-color: white;
}
  
.msg-info {
    padding-top: 0.5rem;
    font-size: 0.7rem;
    text-align: right;
}

/* Stili per il menu a discesa nei messaggi */
.dropdown {
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.dropdown-icon {
    font-size: 1.6rem;
    color: darkgray;
    width: 10%;
    text-align: center;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 20px;
    right: 0px;
    box-shadow: 2px 4px 5px 2px rgba(0, 0, 0, .1);
    width: 120px;
    height: 70px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .25rem;
    z-index: 99;
    opacity: 0;
    transition: 150ms ease-in-out;
}

.dropdown-menu li {
    padding: 0.5rem 0;
    font-size: 0.8rem;
    cursor: pointer;
}

/* Stili per la barra dei messaggi */
.message {
    width: 100%;
    height: 70px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#message-chat {
    width: 80%;
    height: 40px;
    border: none;
    padding: 1rem;
    border-radius: 5px;
}

/* Stili per le icone delle emoji e dei messaggi vocali */
.emojis,
.vocal-msg {
  font-size: 1.6rem;
  color: darkgray;
  width: 10%;
  text-align: center;
  cursor: pointer;
}

.visible {
    display: block;
}
