/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stile del debug */
.debug {
    border: 1px solid red;
}

/* Stile del testo del corpo della pagina */
body {
    font-family: 'Fredoka', sans-serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Lato', sans-serif;
    font-family: 'Rubik Mono One', sans-serif;
}

/* Stile dell'immagine */
img {
    max-width: 100%;
}

/* Stile della lista */
li {
    list-style: none;
}

/* Stile del container del body */
.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
    0deg,
    rgba(17, 27, 33, 1) 80%,
    rgba(0, 168, 132, 1) 80%
  );
}

/* Stile del container */
.whatsapp {
    width: 70%;
    min-width: 900px;
    height: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

/* Stile della sidebar (contacts) */
.sliderbar-contacts {
    width: 500px;
    height: 100%;
}

/* Stile della sidebar (header) */
.sidebar-header {
    width: 100%;
    height: 70px;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid lightgrey;
}

/* Stile della sidebar (immagine profilo) */
.sidebar-profile {
    display: flex;
    align-items: center;
}

/* Stile della sidebar (immagine profilo) */
.sidebar-profile-pic {
    width: 50px;
    height: 50px;
    margin-left: 1rem;
}

/* Stile della sidebar (immagine profilo) */
.sidebar-profile-pic img {
    border-radius: 50%;
}

/* Stile della sidebar (nome utente) */
#profile-name {
    margin-left: 0.5rem;
}

/* Stile della sidebar (icons) */
.slidebar-icons i {
    color: lightgray;
    font-size: 1.4rem;
    margin-right: 0.8rem;
    cursor: pointer;
}

/* Stile della sidebar (notifiche) */
.notifications {
    width: 100%;
    height: 80px;
    background-color: #8edafc;
    display: flex;
    align-items: center;
}

/* Stile della sidebar (icona della notifica) */
.bell {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    color: #8edafc;
    background-color: white;
}

/* Stile della sidebar (lista delle notifiche) */
.notifications > * {
    margin-left: 0.8rem;
}

/* Stile della sidebar (lista delle notifiche) */
.notifications-list li span {
    color: darkgray;
    text-decoration: underline;
    font-size: 0.8rem;
}

/* Stile dei contacts */
.contacts {
    background-color: white;
    width: 100%;
    height: calc(100% - 70px - 50px - 80px);
    overflow-y: scroll;
}

/* Stile dei contacts */
.contact {
    padding: 0.8rem;
    border-bottom: 1px solid lightgrey;
    display: flex;
    cursor: pointer;
}

/* Stile dei contacts (immagine profilo) */
.contact:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/* Stile dei contacts (per creare il cerchio) */
.circle-contact {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: grey;
}
  
.circle-contact img {
    border-radius: 50%;
}

/* Stile dei contacts (nome e orario) */
.name-msg {
    padding: 0.5rem;
    flex-grow: 1;
}
  
.contact-time {
    font-size: 0.8rem;
    color: grey;
}
  
  